@font-face {
    font-family: 'haxrcorp4089_tr';
    src: url('fonts/haxrcorp4089.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #ff8200;
    --secondary-color: #441f07;
    --bg-color: #1c0e02;
    --border-color: #955b2f;
    --border-dark-color: #5f2f0d;
    --danger-color: #eb4e27;
    --success-color: #cddc39;
    --input-font-size: 18px;
    --main-width: 830px;
}

h1,
h2,
h3 {
    /* font-family: "helvB08_tr"; */
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--primary-color);
    font-family: 'haxrcorp4089_tr';
    visibility: hidden;
}



.fui-editor__left {
    /* width: 178px; */
}

#lopaka_app {
    display: flex;
}

.fui-editor__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    margin: 0 0 8px 0;
    font-size: 32px;
    /* font-family: "helvB08_tr"; */
    font-weight: normal;
}

.tools {
    margin: 16px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.tools__btn {
    margin: 0 8px 8px 0;
}

.layers__list {
    font-size: 24px;
    overflow: hidden;
    margin: 0 16px 16px 0;
    padding: 0;
}

.layer {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 20px;
    padding: 2px 0 2px 8px;
    margin-bottom: 1px;
    border-radius: 4px;
    justify-content: space-between;
}

.layer:hover {
    background-color: var(--secondary-color);
}

.layer:hover .layer__remove {
    display: block;
}

.layer__name {
    max-width: 132px;
    overflow: hidden;
    white-space: nowrap;
}

.layer_ignored {
    color: #999;
}

.layer_selected .layer__name:before {
    display: inline-block;
    content: '';
    background: var(--success-color);
    transform: translateY(-4px);
    width: 4px;
    height: 4px;
    margin-right: 4px;
}

.layer__remove {
    display: none;
    color: var(--danger-color);
    margin: 0 8px;
    padding-bottom: 4px;
}

.fui-code {
    background: var(--primary-color);
    border: 2px solid var(--border-dark-color);
    border-radius: 0 10px 10px 10px;
    border-top: 0;
    margin: 0 0 8px 0;
    padding: 8px;
    height: 350px;
    color: var(--secondary-color);
    text-transform: none;
    overflow: auto;
    white-space: pre;
}

.fui-code:focus {
    outline: none;
}

.fui-code pre {
    margin: 0;
}

.fui-tabs {
    display: flex;
}

.fui-tab {
    background: var(--secondary-color);
    border: 2px solid var(--border-dark-color);
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    color: var(--primary-color);
    height: 24px;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'haxrcorp4089_tr';
    font-size: 32px;
    padding: 4px 12px 4px 12px;
    margin: 0 8px 0 0;
    cursor: pointer;
    line-height: 22px;
}

.fui-tab:hover,
.fui-tab_active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.buttons-bottom {
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.fui-settings {
    margin-top: 8px;
}

.fui-settings__input {
    font-size: 24px;
}

.fui-settings__checkbox {
    width: 16px;
}

.fui-editor-header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.fui-select {
    margin: 0 12px 0 0;
    display: flex;
    align-items: center;
}

.fui-select__label {
    font-size: 24px;
}

a {
    color: var(--primary-color);
}

.fui-form-column {
    margin-left: 16px;
}
.fui-form-row {
    margin-bottom: 16px;
}
.fui-form-column:first-child {
    margin: 0;
}
.fui-form-label {
    font-size: 24px;
    /* padding: 0 8px 4px 0; */
}
.fui-form-header {
    font-size: 32px;
}
.fui-form-input {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    padding: 8px;
    color: var(--primary-color);
    box-sizing: border-box;
}
.fui-form-checkbox {
    order: -1;
    padding: 0 10px 0 0;
    width: 12px;
}
