@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'haxrcorp4089_tr';
    src: url('fonts/haxrcorp4089.ttf');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --primary-color: #ff8200;
    --secondary-color: #441f07;
    --bg-color: #1c0e02;
    --border-color: #955b2f;
    --border-dark-color: #5f2f0d;
    --danger-color: #eb4e27;
    --success-color: #cddc39;
    --input-font-size: 18px;
    --main-width: 760px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

body {
    font-family: Roboto, 'PT Sans', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: var(--primary-color);
}

.fui-editor__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 32px;
    font-weight: normal;
}

.tools {
    margin: 16px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.tools__btn {
    margin: 0 8px 8px 0;
}

.fui-tabs {
    display: flex;
}

.fui-tab {
    background: var(--secondary-color);
    border: 2px solid var(--border-dark-color);
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    color: var(--primary-color);
    height: 32px;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'haxrcorp4089_tr';
    font-size: 32px;
    padding: 4px 12px 4px 12px;
    margin: 0 8px 0 0;
    cursor: pointer;
    line-height: 22px;
}

.fui-tab:hover,
.fui-tab_active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.buttons-bottom {
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.fui-settings {
    margin-top: 8px;
}

.fui-settings__input {
    font-size: 24px;
}

.fui-settings__checkbox {
    width: 16px;
}

.fui-editor-header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.fui-select {
    margin: 0 12px 0 0;
    display: flex;
    align-items: center;
}

.fui-form-column {
    margin-left: 16px;
}
.fui-form-row {
    margin-bottom: 16px;
}
.fui-form-column:first-child {
    margin: 0;
}
.fui-form-input {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    padding: 8px;
    color: var(--primary-color);
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: small;
}
.fui-form-checkbox {
    order: -1;
    padding: 0 10px 0 0;
    height: 12px;
    width: 12px;
}
